@inject UserService _userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IAteYourPredictions</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TryingTwitchOAuth.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">IAteYourPredictions</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (_userService.UserCanEdit())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Author">Create</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/List">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Leaderboard">Leaderboard</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link text-dark" href="/Stats/@User.GetIdentifier()">@User.GetDisplayName()</a>
                                <img class="mx-2" src="@User.GetUserIconUrl()" width="30" height="30" alt="User Icon" />
                            </li>
                            <li class="nav-item">
                                <form method="post" action="/Authentication/Logout">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-primary">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="post" action="/Authentication/Login">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row align-items-md-center justify-content-start flex-column flex-md-row">
                <div class="col">
                    Predictions for <a href="https://www.twitch.tv/iateyourpie">https://www.twitch.tv/iateyourpie</a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col text-md-end">
                        Twitch UID: @User.GetIdentifier()
                    </div>
                }
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
